# Common
.vs/
.vscode/
.idea/
.clion/
.xmake/
intermediate/
build/
vsxmake**/

# Windows
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Mac OS
.DS_Store
*.xcworkspace
*.xcodeproj

# CMake files
CMake**
cmake_install.cmake
