# Common
.vs/
.vscode/
.idea/
.clion/
.xmake/
SDL-Game.build/
intermediate/
build/
vsxmake**/
Testing/

# Windows
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Mac OS
.DS_Store
*.xcworkspace
*.xcodeproj

# CMake files
.cmake/
CMake**
cmake_install.cmake
